.field{
    margin-bottom: 20px;

}


.field label{
    display: block;
    margin: 0 0 5px 0;
    color:#222;
    font-weight: 700;
    font-size: 20px;
}
/* al colocarlo de esta manera lo que digo es que dentro de la clase de field todas las etiquetas input que se encuentren dentro */
.field input{
    background-color: #fff;
    outline: 0;
    font-size: 20px;
    padding:10px 15px; /* pading vertical y horizontal*/
    border:1px solid rgb(34,34,34,0.15);
    color:#222;
    border-radius: 4px;
    width: 100%;
}